{
  "name": "{{ agave.appsPrefix }}-bwa-mem-0.7.17-gf",
  "version": "{{ version }}",
  "label": "BWA Mem",
  "defaultNodeCount": 1,
  "defaultMemoryPerNode": 1,
  "defaultProcessorsPerNode": 1,
  "executionType": "HPC",
  "parallelism": "SERIAL",
  "checkpointable": false,
  "executionSystem": "{{ agave.executionSystem }}",
  "deploymentPath": "{{ agave.appsDir }}/bwa-mem-0.7.17-gf-{{ version }}",
  "deploymentSystem": "{{ agave.deploymentSystem }}",
  "templatePath": "bwa-mem-0.7.17-gf.sh",
  "testPath": "test/test.sh",
  "inputs": [
    {
      "id": "input",
      "details": {
        "label": "Input sequence file"
      },
      "value": {
        "default": "agave://{{ agave.deploymentSystem }}/{{ agave.testDataDir }}/bwa-index-0.7.17-gf-{{ version }}/reads/polio-sample_R1.fastq",
        "required": true
      }
    },
    {
      "id": "pair",
      "details": {
        "label": "Paired end sequence file"
      },
      "value": {
        "required": false
      }
    },
    {
      "id": "reference",
      "details": {
        "label": "Reference index directory"
      },
      "value": {
        "default": "agave://{{ agave.deploymentSystem }}/{{ agave.testDataDir }}/bwa-index-0.7.17-gf-{{ version }}/index",
        "required": true
      }
    }
  ],
  "parameters": [
    {
      "id": "output",
      "details": {
        "label": "Output SAM file name"
      },
      "value": {
        "default": "output.sam",
        "required": true,
        "type": "string"
      }
    },
    {
      "id": "exec_method",
      "details": {
        "label": "GeneFlow execution method"
      },
      "value": {
        "default": "environment",
        "required": true,
        "type": "string"
      }
    }
  ]
}
