%YAML 1.1
---
gfVersion: v1.0
class: app

name: app-template-0.1-gf
description: App Template
type: agave
inputs:
  file: input1.txt
parameters:
  output: output.txt
definition:
  agave_app_id: {{ agave.appsPrefix }}-app-template-0.1-gf-{{ version }}
  system: {{ agave.executionSystem }}
...
